.btn-outline-light {
  color: #FFF;
}

.modal-header {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

#modalMessageBody {
  cursor: default;
}

#modalConfirmationBody {
  cursor: default;
}

#animationStepButtonOuter, #animationFastForwardButton {
  margin-left: 5px;
}

.progress-bar {
  transition: none !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  width: 100%;
  padding: 0px;
  min-height: 100vh;
}

#canvas_outer {
  position: relative;
  overflow: scroll;
  border-radius: 5px;
}

.canvas_area {
  background-color: #F0F0F0;
  position: relative;
  transform-origin: left top;
  transition: all .25s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
}

#template_outer {
  margin: 5px 20px 5px 20px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
}

#templates_area {
  width: 100%;
}

#sidebar h1 {
  color: #007000;
  background-color: #F0F0F0;
  font-size: 115%;
  font-weight: 500;
  margin: 10px 20px;
  padding: 5px;
  cursor: pointer;
}

#sidebar .pageinner {
  padding: 5px 20px 20px 20px;
  color: white;
}

#sidebar .pageinner h3 {
  margin-top: 30px;
}

#HomepageLink {
  color: white;
}

#helpInfoText1, #helpInfoText2 {
  font-size: 90%;
}

#helpInfoText3 {
  font-size: 80%;
}

@media only screen and (max-width: 700px) {
  #sidebar {
    min-width: 160px;
    max-width: 160px;
  }
  #template_outer {
    margin-left: 5px;
    margin-right: 5px;
  }
  #navbar {
    max-height: 40px;
  }
  #sidebar h1 {
    font-size: 80%;
  }
  .h4 {
    font-size: 100%;
  }
}

#sidebar  ul.sidebarmenu {
  padding: 0;
}

#sidebar ul.sidebarmenu li {
  display: block;
  padding: 10px 5px;
  border-radius: 4px;
  cursor: pointer;
}

#sidebar ul.sidebarmenu li:hover {
  background-color: rgba(var(--bs-info-rgb),var(--bs-bg-opacity));
  transition: all 0.15s ease-in-out;
}

#sidebar form .input-group {
  margin: 5px 0px;
}

#sidebar {
  cursor: default;
}

#sidebar-animation-info {
  cursor: text;
}

.box {
  border: 1px solid gray;
  border-radius: 4px;
  color: white;
  position: absolute;
  width: 100px;
  height: 50px;
  text-align: center;
  display: block;
  box-shadow: 3px 3px 8px #777;
  cursor: pointer;
}

.vertex {
  border: 1px solid gray;
  border-radius: 4px;
  color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  display: block;
  box-shadow: 3px 3px 8px #777;
  cursor: pointer;
}

.box_diagram {
  border: 1px solid lightgray;
  color: white;
  position: absolute;
  width: 650px;
  height: 250px;
  text-align: left;
  font-size: 80%;
  padding: 2px;
  display: block;
  box-shadow: 1px 1px 4px #777;
  cursor: pointer;
}

.box_diagram_template {
  width: 150px;
  height: 100px;
}

.edge {
  position: absolute;
  cursor: pointer;
}

.client {
  position: absolute;
  z-index: 5;
  font-size: 28pt;
  color: #99F;
}

.menuButtonTitleShort {
  display: none;
}

@media only screen and (max-width: 775px) {
  .menuButtonTitle {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .menuButtonTitleLong {
    display: none;
  }
  .menuButtonTitleShort {
    display: inline;
  }
}

math {
  font-size: 125%;
}

.trashBox {
  position: absolute;
  left: 1px;
  bottom: 1px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid white;
  border-radius: 2px;
  background-color: red;
  font-size: 10pt;
  text-align: center;
  color: white;
}
